@model AETTI.Models.Proyecto

@{
    ViewBag.Title = "Agregar un proyecto";
}


<br />
<h2>Crear Proyecto</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal ">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @Html.HiddenFor(model => model.IdPersona)
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.TituloProyecto)
                @Html.TextBoxFor(model => model.TituloProyecto, new { @class = "form-control", style="max-width:100%" })
                @Html.ValidationMessageFor(model => model.TituloProyecto)
            </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.IdTipoProyecto)
            @Html.DropDownList("IdTipoProyecto", null, htmlAttributes: new { @class = "form-control", style="max-width:100%" })
            @Html.ValidationMessageFor(model => model.IdTipoProyecto, "", new { @class = "text-danger" })
        </div>

            @*<div class="form-group col-md-12">
                @Html.LabelFor(model => model.TipoProyecto)
                @Html.TextBoxFor(model => model.TipoProyecto, new { @class = "form-control", style = "max-width:100%" })
                @Html.ValidationMessageFor(model => model.TipoProyecto)
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.IdPersona, "Emprendedor", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IdPersona", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdPersona, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Diagnostico)
                @Html.TextAreaFor(model => model.Diagnostico, new { cols = "120", rows = "4", @class = "form-control", style = "max-width:100%" })
                @Html.ValidationMessageFor(model => model.Diagnostico)
            </div>

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Producto)
                @Html.TextAreaFor(model => model.Producto, new { cols = "120", rows = "4", @class = "form-control", style = "max-width:100%" })
                @Html.ValidationMessageFor(model => model.Producto)
            </div>

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Resumen)
                @Html.TextAreaFor(model => model.Resumen, new { cols = "120", rows = "4", @class = "form-control", style = "max-width:100%" })
                @Html.ValidationMessageFor(model => model.Resumen)
            </div>

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Actividades)
                @Html.TextAreaFor(model => model.Actividades, new { cols = "120", rows = "4", @class = "form-control", style = "max-width:100%" })
                @Html.ValidationMessageFor(model => model.Actividades)
            </div>

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.LinkYoutube)
                @Html.TextBoxFor(model => model.LinkYoutube, new { @class = "form-control", style = "max-width:100%" })
                @Html.ValidationMessageFor(model => model.LinkYoutube)
            </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
