@model AETTI.ViewModels.BusquedaViewModel

@{
    ViewBag.Title = "Busqueda";
}

<br>
<h2>Busqueda de proyectos</h2>

@*<p>
    @Html.ActionLink("Crear", "Create")
</p>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.NroProyecto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NroProyecto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NroProyecto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Busqueda" class="btn btn-primary" />
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Volver", "Index")
</div>*@

@section Scripts {

@Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        @if (ViewBag.Message != null)
        {
            <Text>alert('@ViewBag.Message');</text>
        }
    });
</script>
